.add-event-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
  }

  .scrollable-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 80px; /* Add padding to account for fixed navigation */
  }
  
  .add-event-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .done-button {
    background-color: #ffc0cb; /* Pink */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .done-button:hover {
    background-color: #ffb3c1;
  }

  .delete-button {
    background-color: #db5d51; /* Red */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
  }

  .delete-button:hover {
    background-color: #db5d51;
  }

  .outfit-section {
    margin-top: 0;
  }
  
  .selected-clothing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* Reduced gap */
    margin-top: 10px;
  }

  .selected-clothing-item {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Fixed width */
    height: 120px; /* Fixed height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .selected-clothing-item img {
    max-width: 100%; /* Ensure image fits within the item box */
    max-height: 80px; /* Max height for uniformity */
    object-fit: contain; /* Contain the entire image */
    border-radius: 5px;
  }

  .selected-clothing-item p {
    font-size: 0.8em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  .add-clothes-button {
    background-color: #47A0DF;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .add-clothes-button:hover {
    background-color: #357ebd;
  }