.closet-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom, white, #C4F4FF);
}

.closet-container.selection-mode .closet-overlay {
  display: block;
}

.closet-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.closet-header {
  margin-top: 30px;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #47A0DF;
  text-align: center;
  padding: 0 20px;
  position: relative;
  z-index: 4;
}

.closet-scrollable-content {
  flex: 1;
  overflow-y: auto;
  padding: 0 20px;
  position: relative;
  z-index: 10;
}

.divider {
  border-bottom: 2px solid rgba(0, 161, 254, 0.2);
  margin-top: 10px;
  margin-bottom: 20px;
}

.tags-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  margin-bottom: 20px;
}

.tags-container::-webkit-scrollbar {
  height: 5px;
}

.tags-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tags-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.tags-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tag {
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
}

.active-tag {
  border: 2px solid white;
}

.closet-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding-bottom: 80px; /* Space for the buttons and nav bar */
}

.closet-item {
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgba(71, 160, 223, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.closet-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 15px;
}

.closet-item-label {
  margin-top: 5px;
  font-size: 0.9em;
  color: #1E3C63;
}

.closet-worn-item {
  border: 3px solid #FF8E8E;
}

.closet-buttons {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: sticky;
  bottom: 60px;
  width: 100%;
  z-index: 10;
}

.closet-camera-button {
  background-color: #47A0DF;
  color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 25px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closet-camera-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.camera-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

@keyframes select-animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.selected-item {
  animation: select-animation 0.5s ease-in-out;
  border: 3px solid #4CAF50;
}

.confirm-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
  text-align: center;
}
